.front{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.year__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(20%);
  text-shadow: 0 2px 5px rgba(0,0,0,0.45), 0 1px 1px rgba(0,0,0,0.42);
}

.info__item{
  margin: 5px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.year__info h1{
  width: 100%;
  font-size: 2.8rem;
}

.year__info span{
  transform: translateY(-10px);
  font-size: 1.3rem;
}

.year__num{
  color: rgb(53,52,57);
  font-size: 8rem;
  transform: translateY(-10%);
  text-shadow: 0 5px 10px rgba(0,0,0,0.35), 0 1px 6px rgba(0,0,0,0.32);
}

/***************Back Face***********************/
.list__events{
	padding: 25px 20px 25px 20px;
	position: absolute;
	width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: flex-start;
}

.event_caption{
  z-index: 20;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  /* text-shadow: 0px 0px 8px rgba(199,85,74, 1), 0 1px 6px rgba(199,85,74, 1); */
}

.event_info{
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: flex-start;
  transform-origin: left center;
  transition: .2s;
}

.event::before{
  /* z-index: -1; */
  content: '';
  position: absolute;
  transform: rotate(45deg);
  top: 0;
  left: -50%;
  background: rgb(29,38,43);
  width: 0%;
  height: 200%;
  transition: 1s;
  box-shadow: 0 40px 80px rgba(29,38,43,0.35), 0 20px 40px rgba(29,38,43,0.35), 0 10px 20px rgba(29,38,43,0.35), 0 3px 12px rgba(29,38,43,0.32);
}

.event:hover::before{
  width: 150%;
  background: rgb(29,38,43);
}

.event:hover .btn-open{
  color: #fff;
}

.event__date{
  color: rgba(29,38,43,1);
  font-size: 1.1rem;
  font-weight: 100;
}

.event:hover .event__date{
  color: rgb(59,130,112);
}

.btn-open{
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 40px;
	line-height: 2rem;
	text-align: center;
  cursor: pointer;
  font-weight: 100;
  transition: .3s;
}

.btn-open:hover{
  transform: scale(1.1);
}


.btn-open:hover:active{
  transform: scale(0.9);
}

.btn-open span{
  cursor: pointer;
	line-height: 30px;
	/* color: rgba(222,95,83, 1); */
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
}

/* #arrow_det{
  cursor: pointer;
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 12px;
  background: rgba(222,95,83, 1);
}

#arrow_det::before,
#arrow_det::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 6px;
  top: 0;
  left: 100%;
  transform-origin: left;
  background: rgba(222,95,83, 1);
}

#arrow_det::before{
  transform: rotate(130deg);
}

#arrow_det::after{
  transform: rotate(-130deg);
} */
