/************ Slider Control ***********/
.select-year form {
	display: flex;
	justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
		-webkit-appearance: none;
    margin: 0;
}


#search-input:focus::-webkit-input-placeholder{ 
  color:transparent; 
}

#search-input{
	position: relative;
	background: transparent;
	text-align: left;
	border: none;
	width: 120px;
	color: rgba(199,85,74, 1);
	font-size: 1.6rem;
	padding: 5px 5px 5px 40px;
}

#search-input::placeholder{
	color: rgba(199,85,74, .6);
}

#search-input:focus{
  outline: none;
}

.select-year{
	position: relative;
}

.select-year::after{
	display: block;
	position: absolute;
	content: "";
	background: rgba(199, 85, 74, 1);
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.search-btn{
	cursor: pointer;
	background: none;
	font-size: 1.4rem;
	border: none;
	color: rgba(199,85,74, 1);
  margin-right: 10px;
  transition: .5s;
}

.search-btn:hover{
  transform: scale(1.2);
  color: rgba(199,85,74, 1);
}

.search-btn:hover:active{
  transform: scale(0.9);
  color: rgba(199,85,74, 1);
}

.slide-control{
	z-index: 20;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 20px 0;
}

.sl__btn-next,
.sl__btn-prev{
	cursor: pointer;
	z-index: -1;
	position: relative;
	display: block;
	min-height: 50px;
	min-width: 50px;
}

.sl__btn-prev::before,
.sl__btn-prev::after,
.sl__btn-next::before,
.sl__btn-next:after{
	z-index: 90;
	content: "";
	display: block;
	position: absolute;
	background: rgba(199,85,74, 1);
	height: 3px;
  width: 20px;
  top: 50%;
  left: 50%;
}

.sl__btn-prev::before,
.sl__btn-prev::after{
  transform-origin: left;  
}
.sl__btn-next::before,
.sl__btn-next::after{
  transform-origin: right;  
}

.sl__btn-prev::before{
  transform: translate(-50%) rotate(45deg);
}

.sl__btn-prev::after{
  transform: translate(-50%) rotate(-45deg);
}

.sl__btn-next::before{
  transform: translate(-50%) rotate(45deg);
}

.sl__btn-next::after{
  transform: translate(-50%) rotate(-45deg);
}

.next,
.prev{
  transition: .5s;
}

.next:hover,
.prev:hover{
  transform: scale(1.1);
}

.next:hover:active{
  transform: translate(20%);
}

.prev:hover:active{
  transform: translate(-20%);
}

.slick-disabled{
  filter: opacity(0.3);
  pointer-events: none;
}

/******************Cards Years*********************/
.main{
	position: relative;
	margin: 0 auto;
	width: 100vw;
}

.center .slick-slide{
  height: 450px;
  width: 80vw;
}

.sl{
	overflow: hidden;
	height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sl__slide{
	position: relative;
  min-width: 300px;
  opacity: 0.2;
  margin-top: 50px;
	margin-bottom: 80px;
	perspective: 1000px;
	transform-style:preserve-3d;
	transform: scale(0.6);
	transform-origin: center;
  transition: 1s;
}

.slick-current{
	opacity: .7;
	transform: scale(1);
}

.sl__slide-front,
.sl__slide-back{
	border-radius: 30px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
  display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.slick-current .sl__slide-front,
.slick-current .sl__slide-back{
  box-shadow: 0 10px 20px rgba(0,0,0,0.45), 0 6px 6px rgba(0,0,0,0.42);
}

.sl__slide-front{
  color: rgba(199,85,74, 1);
  background: rgb(250,250,250);
}

.sl__slide-back{
	display: flex;
	justify-content: flex-start;
  color: rgba(53,52,57, 1);
	background: rgba(222,95,83, 1);
	transform: rotateY(180deg);
}

.slick-current:hover .sl__slide-front{
	transform: rotateY(180deg);
}


.slick-current:hover .sl__slide-back{
	transform: rotateY(360deg);
}